.DS_Store

/.cpcache
/classes
*.class
*.jar

dist/
target/
js/
/workspaces/js/*

node_modules/
yarn-error.log

.clj-kondo/.cache/*
.lsp/sqlite.db
.#*
.shadow-cljs/
/.nrepl-history
/.nrepl-port
.bb-session.edn

.log/*

.dir-locals.el
